In [1]:
import pandas as pd
import numpy as np
import copy as cp

In [2]:
def dataDownloader(name):
    !curl -o pronto.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD
    df = pd.read_csv(name)
    # print(df.head())
    return df

In [3]:
dfSet = dataDownloader("pronto.csv")
dfOriginal = cp.copy(dfSet)
dfSetShort = dfSet[:6]
dfSet.head()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 31897    0 31897    0     0  34408      0 --:--:-- --:--:-- --:--:-- 34371
100 1721k    0 1721k    0     0   978k      0 --:--:--  0:00:01 --:--:--  978k

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,02/24/2015 02:00:00 AM,3.0,3.0
1,01/01/2019 12:00:00 AM,0.0,9.0
2,01/01/2019 01:00:00 AM,2.0,22.0
3,02/15/2016 12:00:00 AM,3.0,3.0
4,01/01/2019 02:00:00 AM,1.0,11.0

In [4]:
dfSetThin = dfSet[["Date","Fremont Bridge East Sidewalk"]]
dfSetThin.head()

                     Date  Fremont Bridge East Sidewalk
0  02/24/2015 02:00:00 AM                           3.0
1  01/01/2019 12:00:00 AM                           0.0
2  01/01/2019 01:00:00 AM                           2.0
3  02/15/2016 12:00:00 AM                           3.0
4  01/01/2019 02:00:00 AM                           1.0

In [5]:
#dfSet.head()
#generate more columns...
dfSet["Total Bicycle Count"] = dfSet["Fremont Bridge East Sidewalk"]+dfSet["Fremont Bridge West Sidewalk"]
hourTemp = dfSet["Date"]
hourTemp = pd.to_datetime(hourTemp)
dfSet['Year'] = hourTemp.dt.year
dfSet['month'] = hourTemp.dt.month
dfSet['day'] = hourTemp.dt.day
dfSet['Hour'] = hourTemp.dt.hour
dfSet.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Total Bicycle Count,Year,month,day,Hour
0,02/24/2015 02:00:00 AM,3.0,3.0,6.0,2015,2,24,2
1,01/01/2019 12:00:00 AM,0.0,9.0,9.0,2019,1,1,0
2,01/01/2019 01:00:00 AM,2.0,22.0,24.0,2019,1,1,1
3,02/15/2016 12:00:00 AM,3.0,3.0,6.0,2016,2,15,0
4,01/01/2019 02:00:00 AM,1.0,11.0,12.0,2019,1,1,2

In [6]:
dfSet["Fremont Bridge East Sidewalk"] = dfSet["Fremont Bridge East Sidewalk"].fillna(0.0).apply(np.int64)
dfSet["Fremont Bridge West Sidewalk"] = dfSet["Fremont Bridge West Sidewalk"].fillna(0.0).apply(np.int64)
dfSet["Total Bicycle Count"] = dfSet["Total Bicycle Count"].fillna(0.0).apply(np.int64)
dfSet = dfSet.drop(columns="Date")
#dfSet.dtypes

In [7]:
dfOriginal["Total Bicycle Count"] = dfOriginal["Fremont Bridge East Sidewalk"]+dfOriginal["Fremont Bridge West Sidewalk"]
hourTemp = dfOriginal["Date"]
hourTemp = pd.to_datetime(hourTemp)
dfOriginal['Year'] = hourTemp.dt.year
#dfOriginal.dtypes

In [8]:
def test_create_dataframe(inputDf, listOfColumns):
    if len(inputDf.index)< 10:
        print("inputDf has less than 10 rows.")
        return False
    if len(inputDf.columns) != len(listOfColumns):
        print("inputDf and lostOfColumns not same length.")
        return False
    for col in listOfColumns:
        if col not in inputDf.columns:
            print("inputDf and lostOfColumns have diff column.")
            return False
    for col in listOfColumns:
        ds = inputDf[col]
        for i in range(len(ds)-1):
            if type(ds[i]) != type(ds[i+1]):
                print("inputDf has column with diff data type.")
                return False
    return True

In [9]:
listOfColumns =["Fremont Bridge East Sidewak","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfSet, listOfColumns)

inputDf and lostOfColumns have diff column.

False

In [10]:
listOfColumns =["Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfSet, listOfColumns)

True

In [11]:
listOfColumns =["Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfOriginal, listOfColumns)

inputDf and lostOfColumns not same length.

False

In [12]:
listOfColumns =["Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfSetShort, listOfColumns)

inputDf has less than 10 rows.

False

In [13]:
listOfColumns =["Date"]
test_create_dataframe(dfSetThin, listOfColumns)

inputDf and lostOfColumns not same length.

False

In [14]:


ds = pd.DataFrame({ 
    'A': [1, 2, 3, 4, 5,6.6,7,8,9,10,11], 
    'B': ['a', 'b', 'c', 'd', 'e','h','j','d','z','r','x'], 
    'C': [1, 734570934423524523455, 2, 2, 5,9, 2.2,14,58,10,11] }) 

test_create_dataframe(ds, ["A","B","C"])

inputDf has column with diff data type.

False

In [15]:
ds = pd.DataFrame({ 
    'A': [1, 2, 3, 4, 5,6.6,7,8,9,10,11], 
    'B': ['a', 'b', 'c', 'd', 'e','h','j','d','z','r','x'], 
    'C': [1, 7355, 2, 2, 5,9, 2.2,14,58,10,11] }) 

test_create_dataframe(ds, ["A","B","C"])

True