In [1]:
import pandas as pd
import numpy as np
import copy as cp

In [2]:
def dataDownloader(name):
    !curl -o pronto.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD
    df = pd.read_csv(name)
    # print(df.head())
    return df

In [3]:
dfSet = dataDownloader("pronto.csv")
dfOriginal = cp.copy(dfSet)
dfSetShort = dfSet[:6]
dfSet.head()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 1422k    0 1422k    0     0   770k      0 --:--:--  0:00:01 --:--:--  769k
100 1721k    0 1721k    0     0   891k      0 --:--:--  0:00:01 --:--:--  891k

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,01/01/2019 12:00:00 AM,0.0,9.0
1,01/01/2019 01:00:00 AM,2.0,22.0
2,01/01/2019 02:00:00 AM,1.0,11.0
3,01/01/2019 03:00:00 AM,1.0,2.0
4,01/01/2019 04:00:00 AM,2.0,1.0

In [4]:
dfSetThin = dfSet[["Date"]]
dfSetThin.head()

                     Date
0  01/01/2019 12:00:00 AM
1  01/01/2019 01:00:00 AM
2  01/01/2019 02:00:00 AM
3  01/01/2019 03:00:00 AM
4  01/01/2019 04:00:00 AM

In [5]:
#dfSet.head()
#generate more columns...
dfSet["Total Bicycle Count"] = dfSet["Fremont Bridge East Sidewalk"]+dfSet["Fremont Bridge West Sidewalk"]
hourTemp = dfSet["Date"]
hourTemp = pd.to_datetime(hourTemp)
dfSet['Year'] = hourTemp.dt.year
dfSet['month'] = hourTemp.dt.month
dfSet['day'] = hourTemp.dt.day
dfSet['Hour'] = hourTemp.dt.hour
dfSet.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Total Bicycle Count,Year,month,day,Hour
0,01/01/2019 12:00:00 AM,0.0,9.0,9.0,2019,1,1,0
1,01/01/2019 01:00:00 AM,2.0,22.0,24.0,2019,1,1,1
2,01/01/2019 02:00:00 AM,1.0,11.0,12.0,2019,1,1,2
3,01/01/2019 03:00:00 AM,1.0,2.0,3.0,2019,1,1,3
4,01/01/2019 04:00:00 AM,2.0,1.0,3.0,2019,1,1,4

In [6]:
dfSet["Fremont Bridge East Sidewalk"] = dfSet["Fremont Bridge East Sidewalk"].fillna(0.0).apply(np.int64)
dfSet["Fremont Bridge West Sidewalk"] = dfSet["Fremont Bridge West Sidewalk"].fillna(0.0).apply(np.int64)
dfSet["Total Bicycle Count"] = dfSet["Total Bicycle Count"].fillna(0.0).apply(np.int64)
dfSet = dfSet.drop(columns="Date")
#dfSet.dtypes

In [7]:
dfOriginal["Total Bicycle Count"] = dfOriginal["Fremont Bridge East Sidewalk"]+dfOriginal["Fremont Bridge West Sidewalk"]
hourTemp = dfOriginal["Date"]
hourTemp = pd.to_datetime(hourTemp)
dfOriginal['Year'] = hourTemp.dt.year
#dfOriginal.dtypes

In [8]:
def test_create_dataframe(inputDf, listOfColumns):
    if len(inputDf.index)< 10:
        print("inputDf has less than 10 rows.")
        return False
    flag = inputDf[inputDf.columns[0]].dtype
    for col in inputDf.columns:
        if inputDf[col].dtype != flag:
            print("inputDf has diff dtype.")
            return False
    #check if number of columns is same as length of columns check list
    if len(listOfColumns) == len(inputDf.columns) and len(listOfColumns) ==0:
        print("inputDf and lostOfColumns are 0.")
        return True
    if len(inputDf.columns) != len(listOfColumns):
        print("inputDf and lostOfColumns not same length.")
        return False
    for col in listOfColumns:
        if col not in inputDf.columns:
            print("inputDf and lostOfColumns have diff column.")
            return False
    return True

In [9]:
listOfColumns =["Fremont Bridge East Sidewak","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfSet, listOfColumns)

inputDf and lostOfColumns have diff column.

False

In [10]:
listOfColumns =["Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfSet, listOfColumns)

True

In [11]:
listOfColumns =["Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfOriginal, listOfColumns)

inputDf has diff dtype.

False

In [12]:
listOfColumns =["Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","Date"]
test_create_dataframe(dfOriginal, listOfColumns)

inputDf has diff dtype.

False

In [13]:
listOfColumns =["Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk","Total Bicycle Count","Year","month","day","Hour"]
test_create_dataframe(dfSetShort, listOfColumns)

inputDf has less than 10 rows.

False

In [14]:
listOfColumns =["Date"]
test_create_dataframe(dfSetThin, listOfColumns)

True

In [15]:
listOfColumns =["Date"]
test_create_dataframe(dfSetThin[:5], listOfColumns)

inputDf has less than 10 rows.

False

In [16]:
listOfColumns =["Date"]
dfSet2=dfSet[["Date","Hour"]]
test_create_dataframe(dfSet2, listOfColumns)

KeyError: "['Date'] not in index"

In [ ]:
listOfColumns =["Hour","Year"]
dfSet2=dfSet[["Year","Hour"]]
test_create_dataframe(dfSet2, listOfColumns)

In [ ]:
listOfColumns =["Hour"]
dfSet2=dfSet[["Year","Hour"]]
test_create_dataframe(dfSet2, listOfColumns)

In [ ]:
listOfColumns =["Hour","Date"]
dfSet2=dfSet[["Year","Hour"]]
test_create_dataframe(dfSet2, listOfColumns)

In [ ]:
listOfColumns =["Hour","Date"]
dfSet2=dfSet[["Year"]]
test_create_dataframe(dfSet2, listOfColumns)

In [ ]:
listOfColumns =["Year","Date"]
dfSet2=dfSet[["Year","Date"]]
test_create_dataframe(dfSet2, listOfColumns)